[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
host_key_checking = accept_new
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[ssh_connection]
pipelining = true
